.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 20px 0px;
  margin: 20px 0px;
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--font-grey);
}

/* 인라인인 span에 마진을 주려면 display: blcok; */
.recommended-friends span {
  display: block;
  margin: 110px 0;
  text-align: center;
  font-size: 16px;
  color: var(--font-grey);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.open-chat__header h4 {
  color: var(--font-grey);
}
.open-chat__header span {
  color: var(--font-light-grey);
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.open-post__members img {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  margin-right: 7px;
}

.open-post__title {
  font-weight: 550;
  font-size: 18px;
  margin-bottom: 8px;
}

.open-post__tags {
  text-transform: uppercase;
  color: var(--font-grey);
  font-size: 16px;
}
.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.open-post__members-count {
  font-size: 14px;
  color: var(--font-grey);
}
.divider {
  color: var(--font-light-grey);
  font-size: 15px;
}

.open-post__members-status {
  color: hotpink;
  font-size: 15px;
}

.open-post__thumbnail img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__thumbnail {
  position: relative;
}
.open-post__likes {
  color: white;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 50px;
  padding: 7px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.open-post__likes span {
  margin-left: 5px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: rgb(255, 171, 183);
    transform: scale(1.2);
  }
  100% {
    color: rgb(255, 227, 227);
    transform: none;
  }
}

.open-post__likes:hover i {
  will-change: transform;
  animation: heartBeat 1.1s linear infinite;
}
/* will-change: transform; 불안정한 애니매션이 있을 때 브라우저에게 애니매이션이 온다는 신호를 미리 주는 것 */
